#mrJones {
    color: burlywood;
    }

h1,h2,h3,h4 {
    color: aqua;
    font-size: 50px;
    background-color: purple;
}

h1{
    color: coral;
    color: rgb(220, 67, 67)"
}

.important{
    color: orchid;
    background-color: darkorange;
}

.uppercase{
    text-transform: uppercase;
    color:blue ; 
    background-color: chartreuse;
}

#the-one{
    color: blue;
}